<main>
  <h1 class="fw-bold">WELCOME</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempora quos minima, molestias ratione pariatur dolore distinctio. Rerum porro quis officiis? Enim, ab magnam. Incidunt accusamus veritatis sit dignissimos corrupti.
  Laborum nam enim quibusdam totam consequuntur molestias quae! Labore at, voluptatibus error, veritatis quidem laboriosam eligendi ullam eius exercitationem molestiae vel natus explicabo officia libero quia ab nulla laudantium sed.
  A dignissimos quis possimus, facere debitis tempora sequi rerum laboriosam vero aut unde quas vitae in fugiat voluptatem quisquam molestiae corrupti dicta nulla qui numquam. Iste, quam. Delectus, soluta itaque?
  Illo veniam tempore facilis atque quisquam, eius alias aperiam dolorem dolore voluptatum, perferendis ratione asperiores animi nostrum! Qui distinctio fuga eum eos dolorum excepturi quaerat voluptatibus inventore atque, perferendis autem.
  Cupiditate quo facere itaque quaerat possimus ullam consequuntur. Vitae quas repellat at impedit veniam reiciendis laudantium obcaecati corporis sapiente, dolorem ad rerum voluptates ut autem fuga vero dignissimos ipsam quis.
  Perspiciatis tenetur voluptatum odio exercitationem cumque ducimus consequatur eum nobis. Quos, aliquam necessitatibus sed cupiditate neque commodi labore et quidem provident! Aliquid porro ducimus provident delectus consectetur exercitationem esse architecto?</p>
  {{#each products}}
    <h3>{{this}}</h3>
  {{/each}}
</main>