<form id="productForm" class="w-50 m-auto my-5">
  <div class="mb-3">
    <label for="title" for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="photo" for="exampleInputPassword1" class="form-label">Photo URL</label>
    <input type="text" class="form-control" id="photo">
  </div>
  <div class="mb-3">
    <label for="price" for="exampleInputPassword1" class="form-label">Price</label>
    <input type="number" class="form-control" id="price">
  </div>
  <div class="mb-3">
    <label for="stock" for="exampleInputPassword1" class="form-label">Stock</label>
    <input type="number" class="form-control" id="stock">
  </div>
  <button id="submitProduct" type="button" class="btn btn-primary">Create</button>
</form>
<script src="/form.js"></script>